.level-trace {
  background-color: #F5F5F5;
}

.level-debug {
  background-color: #ccccff;
}

.level-info {
  background-color: #7777ff;
}

.level-warn {
  background-color: #ff7777;
}

.level-error {
  background-color: #ff4444;
}

#log-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: monospace;
}

.li-log {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.short-timestamp {
  white-space: nowrap;
  margin-right: 2em;
}
